<h1>Sign in with social.</h1>
<h4>New and existing Cookbook users.</h4>
<%= link_to('/auth/facebook') do %>
    <img src='https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Facebook_colored_svg_copy-512.png' width='32px' height='32px'>
    <span>Facebook</span>
<% end %>
<br><br>

<h2>Sign in with Email.</h2>
<h4>Existing Cookbook users.</h4>

<% if @error %>
    <div class='error-message'>
        <p><%= @error %></p>
    </div>
<% end %>

<%= form_tag '/signin' do %>

    <%= text_field_tag :email, nil, placeholder: 'Email', :required => true  %><br>

    <%= password_field_tag :password, nil, placeholder: 'Password', :required => true %><br>
    
    <%= submit_tag "Sign In"%><br>
 <%end%>
<br>

 <%= link_to signup_path do %>
 <span>New to Cookbook?</span>
 Join for free!
 <% end %>
 
    