<h1><%= @recipe.title %></h1>
<% if logged_in? && @recipe.likes.find_by(user_id: current_user.id) %>
    <p>You liked this post.</p>
<% elsif logged_in? && !@recipe.likes.find_by(user_id: current_user.id) %>
    <%= form_for [ @recipe, @recipe.likes.build] do |f| %>
        <%= f.submit "Like"%><br>
    <% end %>
<% end %>
<p><strong>Category:</strong> <%= @recipe.category.name %></p>
<p><%= @recipe.likes.count %> Likes, <%= @recipe.comments.count %> Comments</p><br>
<span><%= @recipe.description %></span><br>
<aside class='recipe-info'>
    <p><strong>Prep Time:</strong> <%= @recipe.prep_time %></strong></p>
    <p><strong>Cook Time:</strong> <%= @recipe.cook_time %></strong></p>
    <p><strong>Servings:</strong> <%= @recipe.servings %></strong></p>
</aside>

<% if logged_in? %>
    <h3>Add Comment</h3>
    <%= form_for [ @recipe, @recipe.comments.build] do |f| %>
        
        <%= f.text_area :description, placeholder: "Content", require: true %><br>
       
        <%= f.submit "Add Comment"%><br>
    <% end %>
<% end %>

<h2><%= @recipe.comments.count %> Comments</h2>
<% @recipe.comments.each do |comment| %>
    <h3><%# comment.user.name %></h3>
    <p><%# time_ago_in_words(comment.created_at) %> ago</p>
    <p><%# comment.description %></p>
<% end %>