<h1>Sign up with Email.</h1>
<%= link_to 'Already a member? Sign in!', signin_path %><br><br>

<% if @user.errors.any? %>
    <div class='error-explanation'>
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this account from being created:</h2>
    
        <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_for @user do |f| %>

<%= f.label :avatar, 'Profile Photo' %><br>
<%= f.file_field :avatar %><br> 


<%= f.text_field :name, placeholder: 'Full name', :required => true %><br>

<%= f.text_field :email, placeholder: 'Email', :required => true %><br>

<%= f.password_field :password, placeholder: 'Password', :required => true %><br>
<span>Please provide a password with at least 8 characters.</span><br>

<%= f.submit "Create Your Account" %>

<% end %>